{% extends 'base.html.twig' %}

{% block title %}Tous les comptes{% endblock %}

{% block body %}

<div class="container">
    <table class="table table-hover text-light table-dark">
        <tr class="row">
            <td class="col-lg-3"><b>Nom</b></td>
            <td class="col-lg-3"><b>Email</b></td>
            <td class="col-lg-3"><b>Pseudo</b></td>
            <td class="col-lg-3"><b>Dates de création</b></td>
        </tr>
        
        {% for account in accountEntities %}
        <tr class="row">
            <td class="col-lg-3">
                <a class="text-decoration-none link" href="{{ path('accountSlug', {'slug': account.slug}) }}">
                    {{ account.name }}
                </a>
            </td>
            <td class="col-lg-3">
                {{ account.email }}
            </td>
            <td class="col-lg-3">
               {{ account.nickname }}</a>
            </td>
            <td class="col-lg-3">
               {{ account.createdAt|date("d/m/Y") }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}