{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
OK
{% endblock %}


{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="container-fluid p-0 m-0">
    <img class="img-fluid" src="https://s3.gaming-cdn.com/images/homeDisplay/campaign-banner-626b8f2b3d771.jpg"
        alt="Pub1">
</div>
    <div class="container text-center mt-3">
        <a class="btn btn-steamish col-3" href="{{ path('app_publisher') }}">
            Les Editeurs partenaires
        </a>
                <a class="btn btn-steamish col-3" href="{{ path('games') }}">
            Tous les jeux
        </a>
    </div>
<div class="example-wrapper">
    {# Les jeux du moment#}
    <div>
        <h2 class="mt-3">Les dernières sorties</h2>
        <div class="container my-3">
            <div class="row">
                {% for myGame in lastPublishedGames %}
                <div class="card-game col-12 col-md-6 col-lg-4">
                    <a class="text-decoration-none" href="{{ path('gameId', {'id': myGame.id}) }}">
                        <div class="container-image">
                            <img src="{{ myGame.thumbnailCover }}" alt="...">
                            <div class="container-price" [hidden]="!displayPrice">
                                {{ myGame.price }}€
                            </div>
                        </div>
                    </a>
                    <p class="game-title text-center">{{ myGame.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {# Bandeau publicitaires#}
    <div>
         <a href="https://www.mcdonalds.fr/" target="_blank"><img class="img-fluid" src=" https://3.bp.blogspot.com/-Jwx6tcp8ZBA/WLdOdv3WZ5I/AAAAAAAAAho/_VfSK6bjIT8Em3g1Qt_14NIXkJVuWWyMQCEw/s1600/bandeau.jpg"
        alt="Pub 2"></a>
    </div>
    {# es Jeux les plus joués#}
    <div>
        <h2 class="mt-3">Les jeux les plus joués</h2>
        <div class="container my-3">
            <div class="row">
                {% for myGame in mostPlayedGames %}
                <div class="card-game col-12 col-md-6 col-lg-4">
                    <a class="text-decoration-none" href="{{ path('gameId', {'id': myGame.id}) }}">
                        <div class="container-image">
                            <img src="{{ myGame.thumbnailCover }}" alt="...">
                            <div class="container-price" [hidden]="!displayPrice">
                                {{ myGame.price }}€
                            </div>
                        </div>
                    </a>
                    <p class="game-title text-center">{{ myGame.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Bandeau publicitaires 2#}
    <div>
        <a href="https://www.emp-online.fr/" target="_blank"><img class="img-fluid" src="https://blog-fr.orson.io/wp-content/uploads/2020/10/backmarket-displayad-screen-1024x246.png"
        alt="Pub 3"></a>
    </div>
    {# Meilleures ventes#}
        <div>
        <h2 class="mt-3">Les meilleures ventes</h2>
        <div class="container my-3">
            <div class="row">
                {% for myGame in mostBoughtGames %}
                <div class="card-game col-12 col-md-6 col-lg-4">
                    <a class="text-decoration-none" href="{{ path('gameId', {'id': myGame.id}) }}">
                        <div class="container-image">
                            <img src="{{ myGame.thumbnailCover }}" alt="...">
                            <div class="container-price" [hidden]="!displayPrice">
                                {{ myGame.price }}€
                            </div>
                        </div>
                    </a>
                    <p class="game-title text-center">{{ myGame.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</div>
{% endblock %}