{% extends 'base.html.twig' %}

{% block title %}Les éditeurs{% endblock %}

{% block body %}

<div class="container">
    <table class="table table-hover text-light table-dark">
        <tr class="row">
            <td class="col-lg-1"><b>Drapeau</b></td>
            <td class="col-lg-4"><b>Nom</b></td>
            <td class="col-lg-4"><b>Site Web</b></td>
            <td class="col-lg-3"><b>Nombre de jeux</b></td>
        </tr>
        
        {% for publisher in publishers %}
        <tr class="row">
            <td class="col-lg-1">
                <img src="{{ publisher.country.urlFlag }}">
            </td>
            <td class="col-lg-4">
                <a class="text-decoration-none link" href="{{ path('app_publisher_show', {'slug': publisher.slug}) }}">
                    {{ publisher.name }}
                </a>
            </td>
            <td class="col-lg-4">
               <a href="{{ publisher.website }}" target="_blank" class="link"> {{ publisher.website }}</a>
            </td>
            <td class="col-lg-3">
                {{ publisher.games|length }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}