{% extends 'base.html.twig' %}

{% block title %}Les éditeurs{% endblock %}

{% block body %}
<div class="container">
    <table class="table table-hover text-light table-dark">

        <tr class="row">
            <td class="col-lg-1">Drapeau</td>
            <td class="col-lg-4">Nom</td>
            <td class="col-lg-4">Site Web</td>
            <td class="col-lg-3">Nombre de jeux</td>
        </tr>
        {% for publisher in publishers %}
        <tr class="row">
            <td class="col-lg-1">
                <img src="{{ publisher.country.urlFlag }}">
            </td>
            <td class="col-lg-4">
                {{ publisher.name }}
            </td>
            <td class="col-lg-4">
               <a href="{{ publisher.website }}" target="_blank" class="link"> {{ publisher.website }}</a>
            </td>
            <td class="col-lg-3">
                {{ publisher.games|length }}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>



{% endblock %}