{% extends 'base.html.twig' %}

{% block title %}{{ myGame.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">    
        <div class="card col-4">
            <img src="{{ myGame.thumbnailCover }}" class="card-img-top" alt="{{ myGame.slug }}">
        </div>

        <div class="card col-4">
            <h4 class="card-title"><b></b>{{ myGame.name }}</h4>
            <p class="card-text">
                <b>Description : </b>{{ myGame.description }}
                <br>
                <b>Sortie : </b>{{ myGame.publishedAt|date("m/d/Y") }}
                <br>
                <b>Prix : </b>{{ myGame.price }}€
            </p>
        </div>
    </div>

    <div class="row">

    </div>
</div>
{% endblock %}
