{% extends 'base.html.twig' %}

{% block title %}{{ myGame.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            {% if myGame.thumbnailCover is not null %}
                <img src="{{ myGame.thumbnailCover }}" class="img-fluid container-cover d-flex mx-auto" alt="{{ myGame.slug }}">
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 bg-greyo mt-5 my-3 fs-1">
            <div class="container">
                <div class="d-flex align-items-center justify-content-center">
                    {% if myGame.thumbnailLogo is not null %}
                        <img src="{{ myGame.thumbnailLogo }}" class="img-fluid container-logo" alt="{{ myGame.slug }}">
                    {% else %}
                        <h3 class="text-center">{{ myGame.name }}</h3>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="d-flex align-items-center justify-content-center">
                        {{ myGame.price }}€
                        <a class="btn btn-steamish mx-2"><i class="fa-regular fa-heart"></i></a>
                        <a class="btn btn-steamish">Acheter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            <h4>À propos du jeu</h4>

            <p>{{ myGame.description }}</p>
        </div>

        {# {{ dump(myGame) }} #}

        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            <h4>Détails</h4>

            <p><b>Langue(s): </b>
                {% for country in myGame.countries %}
                    {# <a href="{{ path('gamesLanguage') }}"> #}
                        <img src="{{ country.urlFlag }}" class="" alt="">
                    {# </a> #}
                {% endfor %}
            </p>

            <p><b>Editeur(s): </b>
                {% if myGame.publisher.name is defined %}                
                    <a type="button" class="btn btn-steamish">{{ myGame.publisher.name }}</a>
                {% endif %}
            </p>

            <p><b>Genre(s): </b>
                {% for genre in myGame.genres %}
                    <a type="button" href="{{ path('gamesGenre', {'slug': genre.slug}) }}" class="btn btn-steamish">
                        {{ genre.name }}
                    </a>
                {% endfor %}
            </p>

            <p><b>Date de sortie: </b>{{ myGame.publishedAt|date("d M y") }}</p>          
        </div>
    </div>

    <div class="row">
        <h4>Tests des joueurs</h4>

        {% for comment in myGame.comments|slice(0, 6) %}
            <div class="col-4 mb-3">
                {% include "review/_cardComment.html.twig" with
                    {
                        'currentGame': true,
                    }
                %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <h4>Dans le même genre</h4>

        {% for otherGame in myOthersGames|slice(0, 3) %}
            <div class="card-game col-12 col-md-4 col-lg-3">
                {% include "game/_card.html.twig" with
                    {
                        'myGame': otherGame
                    }
                %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
