{% extends 'base.html.twig' %}

{% block title %}{{ myGame.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            {% if myGame.thumbnailCover is not null %}
                <img src="{{ myGame.thumbnailCover }}" class="img-fluid container-cover d-flex mx-auto" alt="{{ myGame.slug }}">
            {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            {% if myGame.thumbnailLogo is not null %}
                <img src="{{ myGame.thumbnailLogo }}" class="img-fluid container-logo d-flex mx-auto" alt="{{ myGame.slug }}">
            {% else %}
                <h3 class="text-center">{{ myGame.name }}</h3>
            {% endif %}

            <div class="container text-center mt-3 fs-3">
                {{ myGame.price }}€
                <a type="button" class="btn btn-steamish"><i class="fa-regular fa-heart"></i></a>
                <a type="button" class="btn btn-steamish">Acheter</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            <h4>À propos du jeu</h4>
            <p>{{ myGame.description }}</p>
        </div>

        {{ dump(myGame) }}

        <div class="col-lg-6 col-md-6 bg-greyo my-3">
            {% for country in myGame.countries %}
                <img src="{{ country.urlFlag }}" class="" alt="">
            {% endfor %}

            <p>{{ myGame.publisher.name }}</p>

            {% for genre in myGame.genres %}
                <p>{{ genre.name }}</p>
            {% endfor %}

            <p><b>Editeur(s): </b>Test</p>
            <p><b>Date de sortie: </b>{{ myGame.publishedAt|date("d M y") }}</p>
            <p><b>Genre(s): </b>Test</p>
        </div>
    </div>
</div>
{% endblock %}
