<div class="card" style="width: 18rem;">
  <div class="card-body bg-dark">
    <h5 class="card-title {% if currentGame is defined %}d-none{% endif %}">
        <a href="{{ path('commentGameSlug', {'slug': comment.game.slug}) }}" class="linkthree">
            {{ comment.game.name }}
        </a>
    </h5>
    <p class="card-text text-truncate">{{ comment.content }}</p>
    <p>
        <i class="fa-solid fa-thumbs-up green"></i>
        <strong>{{ comment.upVotes }}</strong>
        <i class="fa-solid fa-thumbs-down red"></i>
        <strong>{{ comment.downVotes }}</strong>
    </p>
    <p>
        <span class="{% if currentAccount is defined %}d-none{% endif %}">
        <a href="{{ path('accountSlug', {'slug': comment.account.slug}) }}" class="linkthree">
        {{ comment.account.name }} - 
        </a>
        </span>
        {{ comment.createdAt|date("d/m/Y") }}
    </p>
  </div>
</div>

{# <div class="card-body comment" style="height:200px;">
    <a class="text-decoration-none linktwo {% if currentGame is defined %}d-none{% endif %}" href="{{ path('commentGameSlug', {'slug': comment.game.slug}) }}">
        {{ comment.game.name }}
    </a>
    <p class="card-text text-truncate">{{ comment.content }}</p>
    <div class="row">
        <p class="card-text col-6">
            <i class="fa-solid fa-thumbs-up green"></i>
            <strong>{{ comment.upVotes }}</strong>
        </p>
        <p class="card-text col-6">
            <i class="fa-solid fa-thumbs-down red"></i>
            <strong>{{ comment.downVotes }}</strong>
        </p>
    </div>
    <div class="row">
        <p>
            Le {{ comment.createdAt|date("d/m/Y") }}
            <span class="{% if currentAccount is defined %}d-none{% endif %}"> par 
                <a class="text-decoration-none linktwo" href="{{ path('accountSlug', {'slug': comment.account.slug}) }}">{{ comment.account.name }}</a>
            </span>
        </p>
    </div>
</div> #}