{% extends 'base-front.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('app_forum_show', {'id': forumEntity.id}) }}" class="btn btn-steamish p-1">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
    <h2>{{ topic.title }}</h2>
    <p>{{ topic.createdAt|date("d/m/Y") }}</p>
    {% for message in topic.messages %}
    <div class="p-2 m-2">
        <div class="d-flex justify-content-between bg-top p-2 rounded-top">
            <p class="message-name">{{ message.createdBy.name }}</p>
            <p class="message-name">{{ message.createdAt|date("m/d/Y") }}</p>
        </div>
        <p class="bg-bot p-2 rounded-bottom shadow ">{{ message.content }}</p>
    </div>
    {% endfor %}
    <div class="">
        {% include "topic/addMessage.html.twig" %}
    </div>
</div>
{% endblock %}