{% extends 'base.html.twig' %}

{% block title %}Sellers{% endblock %}

{% block body %}
    <div class="container">
        <h2>Les vendeurs</h2>
        <div class="row">
            <div class="col-lg-1">
                <h3>ID</h3>
            </div>
            <div class="col-lg-2">
                <h3>Prénom</h3>
            </div>
            <div class="col-lg-2">
                <h3>Nom</h3>
            </div>
            <div class="col-lg-2">
                <h3>Email</h3>
            </div>
            <div class="col-lg-3">
                <h3>Location</h3>
            </div>
            <div class="col-lg-2">
                <h3>Téléphone</h3>
            </div>
        </div>
        {% for seller in sellers %}
            <div class="row">
                <div class="col-lg-1">
                    {{ seller.id }}
                </div>
                <div class="col-lg-2">
                    {{ seller.firstName }}
                </div>
                <div class="col-lg-2">
                    {{ seller.lastName|upper }}
                </div>
                <div class="col-lg-2">
                    {{ seller.email }}
                </div>
                <div class="col-lg-3">
                    {{ seller.location|raw }}
                </div>
                <div class="col-lg-2">
                    {{ seller.phoneNumber }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
