{% extends 'base-front.html.twig' %}

{% block title %}Bienvenu sur les Forums{% endblock %}

{% block body %}
<div class="container">
<div>
    <a href="{{ path('app_home')}}" class="btn btn-steamish p-1">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
</div>

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_forum_create') }}" class="btn btn-success mt-3"><i class="fa-solid fa-circle-plus">
            Ajouter un forum
        </i>
    </a>
    {% endif %}
    <div class="row ">
        {% for forum in forumEntity %}
        <div class="col-5 bg-darko m-2 p-2">
            <div class="d-flex justify-content-between">
                <a class="link" href="{{ path('app_forum_show', {'id': forum.id}) }}">
                    <h2> {{ forum.title }} </h2>
                </a>
                <p>{{ forum.createdAt|date("d/m/Y") }}</p>
            </div>
            <ul>
                {% for topic in forum.topics %}
                <li><a href="{{path('app_topic', {'idTopic': topic.id}) }}" class="link">{{ topic.title }}</a></li>
                {% endfor %}
            </ul>
            {% if is_granted("ROLE_ADMIN") %}
            <div>
                <a class="btn btn-steamish" href="{{ path('app_forum_edit', {'id': forum.id}) }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#{{ forum.title }}Modal">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="{{ forum.title }}Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-darko">
                            <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        </div>
                        <div class="modal-body bg-darko">
                            Etes vous sur de vouloir supprimer {{ forum.title }} ?
                        </div>
                        <div class="modal-footer bg-darko">
                            <a type="button" class="btn btn-danger"
                                href="{{ path('app_forum_delete', {'id': forum.id}) }}">Oui</a>
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}